<link rel="stylesheet" type="text/css" href="/vendors/css/job-table.css"/>
<div class="row mb-2">
    <div class="col-md-12" id='jobPosted' style="display: none;">
        <p><%=allJobsCount%> Jobs posted</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Posted</th>
                <th scope="col">No. of Applicants</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 0;
              jobs.map(j =>{ %>
              <tr>
                <td><%=j.job_title%></td>
                <td><%=j.createdAt.toDateString()%></td>
                 <% if(j.JobApplication!== null){ %>
                     <td><%=j.JobApplication.length%></td>
                 <% }else{ %>
                    <td>0</td>
                 <% } %>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="/user/job-view/<%=j.id%>">View</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                    </div> </td>
              </tr>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
      
    
    <div class="col-md-12" id="jobsAwarded" style="display: none;">
        <p><%=JobsAwardedCount%> Jobs Awarded</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Freelancer</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 0;
              jobs_results.map(j =>{ %>
                <%if(j.application_status === 'awarded' || j.application_status === 'accepted' ){%>
                  <tr>
                    <td><%=j.job_title%></td>
                    <td><%=j.updatedAt.toDateString()%></td>
                    <td><%=j.firstname%>   <%=j.lastname%></td>
                    <td><button class="status-button accepted-button">
                      <%=j.application_status%>
                    </button></td> 
                    <td><div class="dropdown">
                      <input type="text" value="" id="clientJobId" hidden>
                        <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                        <div class="dropdown-content">
                            <a href="/user/job-workspace/<%=j.id%>" id="btnClientWorkspace">Go to workspace</a>
                            <a class="text-muted" href="#">Make Payment</a>
                            <a class="text-muted" href="#">Edit</a>
                            <a class="text-muted" href="#">Delete</a>
                            <a href="#">Withdraw</a>
                        </div>
                        </div> </td>
                  </tr>
               <% } %>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    <div class="col-md-12" id="jobsProgress" style="display: none;">
        <p><%=JobsInProgressCount%> Jobs in progress</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Freelancer</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>  
            <tbody>
              <% count = 0;
              jobs_results.map(j =>{ %>
                <%if(j.job_status === 'in progress'){%>
              <tr>
                <td><%=j.job_title%></td>
                <td><%=j.firstname%>   <%=j.lastname%></td>
                <td><button class="status-button pending-button">
                    Ongoing
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Go to workspace</a>
                        <a class="text-muted" href="#">Make Payment</a>
                        <a class="text-muted" href="#">Edit</a>
                        <a class="text-muted" href="#">Delete</a>
                        <a href="#">Withdraw</a>
                    </div>
                    </div> </td>
              </tr>
              <% } %>
              <% count++; }); %>
            </tbody>
          </table>
    </div>
    
    <div class="col-md-12" id="jobsCompleted" style="display: none;">
        <p><%=JobsCompletedCount%> Job completed</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Completed</th>
                <th scope="col">Freelancer</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% count = 0;
              jobs_results.map(j =>{ %>
                <%if(j.job_status === 'completed'){%>
              <tr>
                <td><%=j.job_title%></td>
                <td><%=j.updatedAt.toDateString()%></td>
                <td><%=j.firstname%>   <%=j.lastname%></td>
                <td><button class="status-button review-button">
                    Review
                </button></td>
              </tr>
              <% } %>
              <% count++; }); %>
            </tbody>
          </table>
    </div>    
</div>