<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
<% include ../layout/menu-portal.ejs %>
<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />




<!-- <link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />     -->
    <div class="dashboard-background">
        <div class="container-fluid " style="padding-left: 50px; padding-right: 50px;">
            
            <!-- THE JOBS SECTION CARDS GOES HERE -->
        <div class="row mb-5 ">
            <div class="col-md-12 mt-3">
              <%  if(user.first_name === ''){ %>
                <h3 class="welcome mt-5">Welcome, <%=userAccount.email%>!</h3>
               <% }else{ %>
                <h3 class="welcome mt-5">Welcome, <%=user.first_name%>!</h3>
               <% } %>
            </div>
            <div class="col-md-3 clickable" onclick="ShowJobTables();">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-list job-icons mt-4" style="color: #A41201;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Jobs Posted
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #A41201;" id="allJobsClient"><%=allJobsCount%></h3>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 clickable" onclick="ShowAwarded();">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-list job-icons mt-4" style="color: #FC6D00;" ></i>
                        </div>
                        <div class="mt-3 job-types">
                            Jobs Awarded
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #FC6D00;" id="jobsAwardedClient" ><%=JobsAwardedCount%></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 clickable" onclick="ShowProgressTables();">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-hourglass-half job-icons mt-4" style="color: #DEC109;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Jobs In Progress
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #DEC109;" id="jobsInprogressClient"><%=JobsInProgressCount%></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 clickable" onclick="ShowCompleted();">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-check-circle job-icons1 mt-4" style="color: #0DC100; font-size: 25px;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Jobs Completed
                        </div>
                        <div class="mt-2 numbers-section" >
                            <h3 class="mt-2" style="color: #0DC100;" id="jobsCompeletedClient"><%=JobsCompletedCount%></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>  


        <% include client-jobs-table.ejs %>
       
        
        <div class="row mb-2 mt-5">
            <div class="col-md-9">
                <p class="para-text">Based on your profile and skills requirements, these are some recommended freelancers...</p>
            </div>

            

        </div>


<%if(freelancers){%>
            <!-- RECOMMENDED JOBS GOES HERE -->
        <div class="row mb-5 ">
       
                    <%freelancers.map(f =>{ %>
            <div class="col-md-3 rec-jobs">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body flex-column dash-card text-center">
                        <div>
                            <img src="../../images/users/individual/<%=f.User.picture%>" class="card-img-top" alt="...">
                        </div>

                        <div>
                           <h5 class="mt-4"><%=f.User.first_name%> <%=f.User.last_name%></h5>
                           <h6 class="client-name"><%=f.User.job_title%></h5>
                           <h6 class="mt-4 mb-5 price"><%=f.User.city%>, <%=f.User.country%></h6>
                        </div>
                       <div>
                           <button class="form-control rec-buttons">Connect</button>
                       </div>
                        
                    </div>
                </div>
            </div>
                <%  }); %>
        </div> 

        <%}else{%>


        <h3>No Freelancers Available</h3>


        <% } %>

    </div>
</div>
    


<% include ../layout/footer-public.ejs %>
