<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
<% include ../layout/menu-portal.ejs %>


<style>
.job-title {
        background-color: #0C4767;
        color: #ffffff;
        font-size: large;
        font-weight: 700;
        padding: 0.5em;
    }
.custom-control-label{
    margin-bottom:4px !important;
    cursor: pointer;
  }

 
 
</style>

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />

<link rel="stylesheet" type="text/css" href="/vendors/css/category-skills.css" />


<div class="ps-page--signin  animated-img"
    style="background-image:url('../../vendors/img/macbookPro.jpg');padding-top: 80px ">
    <div class="container" style="width: fit-content; height: max-content;">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="text-center justify-content-center">
                    <h2 style="color: #ffffff;">Post a Job</h2>
                    <p style="color: #ffffff;" class="text-center ">What do you need? Post your and get skilled
                        freelancers to work on it for you. You make payment <br> only when you award job a freelancer.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="job-title text-center justify-content-center">
                        Job Details
                    </div>

                    <div>
                        <% if(errorMessage){ %>
                        <div class="alert alert-danger" role="alert">
                            <strong><%=errorMessage%></strong>
                        </div>
                        <% }else if(successMessage){%>
                        <div class="alert alert-success" role="alert">
                            <strong><%=successMessage%></strong>
                        </div>
                        <% } %>
                    </div>

                    <form action="/user/post-job" id="fmjob" method="post"
                        class="form-row justify-content-center">
                        <div class="card-business mt-1">
                            <div class="row-md-9 pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                                <div class="col-md-12">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="title">Give your project a name</label>
                                            <input name="title" id="title" placeholder="Eg. Logo Design" type="text"
                                                class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="details">Description</label>
                                            <textarea name="details" id="details" maxlength="250" rows="2" placeholder="Job brief description" class="form-control" required></textarea>
                                            
                                            <span class="mr-2" style="float: right;" id="chars">250</span>
                                        </div>
                                       
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="timeLength">Estimated Duration</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="number" name="timeLength_number" id="timeLength_number"
                                                        class="form-control" min="1" required>
                                                </div>
                                                <div class="col">
                                                    <select type="text" name="timeLength_period" id="timeLength_period"
                                                        class="form-control" placeholder="" required>
                                                        <option value="day(s)">day(s)</option>
                                                        <option value="weeks">weeks</option>
                                                        <option value="months">months</option>
                                                    </select>
                                                </div>
                                            </div>  
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="price">Price</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text bg-white" id="basic-addon1"><i class="" style="font-size: 15px;">USD $</i></span>
                                                </div>
                                                <input type="text" class="form-control" name="price" id="price" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="Skills">Skills</label>
                                            <select name="skills" id="skills" class="form-control"  multiple="multiple" style="display: none;">
                                                <% all_skills.map(s =>{ %>
                                                <option value="<%=s.name%>"><%=s.name%></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="category"> Select Job Catogory</label>
                                            <select name="category" id="category" class="form-control" required>
                                                <% category.map(cat =>{ %>
                                                <option value="<%=cat.id%>"><%=cat.name%></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="checkbox" onchange="handleChange(this)" id="specific"
                                                name="specific" value="specific">
                                            <label for="specific">Send to specific freelancers</label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <div class="form-group col-md-12" id="specificFreelancers" style="display: none;">
                                                <div class="row" >
                                                    <div class="col-md-12 m-auto">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <span class="autocomplete-freelancers"></span> 
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row justify-content-center">
                                        <div class="col-md-3 mb-5">
                                            <button type="submit" name="btnpost" id="btnpost"
                                                class="form-control profile-btn"
                                                style="background-color: #0C4767; color: #ffffff;">POST</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<%include ../layout/footer-public.ejs %>
<%include ../layout/skills-footer.ejs %>