<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<% include ../layout/menu-portal.ejs %>
<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />
<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/workspace.css" />





<div class="dashboard-background">

    <%if(client_details && job_details){%>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end mt-3 ">
                    <i class="fa fa-question-circle mr-3" style="font-size: 20px; color: #0C4767;"></i><h4 class=" support">Support</h4>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12 mt-2 mb-2 pl-5">
                    <h3 style="color: #0C4767;">Job Workspace</h3>
                </div>
            </div>
    
    
            <div class="row col-md-12">
    
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header workspace-header">
                            <h4 class="workspace-header-title mt-4">Job Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <img src='../../vendors/img/2.jpg' class="workspace-page-image img-fluid im-responsive mr-5" alt="...">
                                    </div>
                                </div>
    
                                <div class="col-md-8 " style="margin-left: -10px;">
                                    <div class="card-body d-flex">
                                         <div>
                                            <h4 style="color: #383838;"><%=job_details.job_title%></h4>
                                            <div>
                                                <h5 style="color: #0C4767;">Price:  $   <%=job_details.job_price%></h5>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                       
                                </div>
    
                            </div>
    
                            <div class="row col-md-12 mt-5">
    
                                <div>
                                    <h4 >Client:   <%=client_details.firstname%>  <%=client_details.lastname%></h4>
                                </div>
                                
                            </div>
    
                            <div class="row col-md-12 mt-3">
    
                                <div>
                                    <h4 >Location:  <i class="fa fa-map-marker" ></i>&nbsp; <%=client_details.city%>, <%=client_details.country%></h4>
                                </div>
                                
                            </div>
    
                            <div class="mt-3 row col-md-12">
                                <div>
                                    <h4>Description</h4>
                                </div>
                                <div>
                                    <p><%=job_details.job_details%></p>
                                </div>
                            </div>
    
                            <div class="row col-md-12 mt-3">
                                <div>
                                    <h4>Skills</h4>
                                </div>
                            </div>
    
                            <div class="row mb-5 justify-content-start ">
                            
                                <% job_skills.map( js => { %>
                                    <div class=" ml-4  badge badge-secondary" style="font-size: 13px;"><%=js.job_skill_name%></div>       
                                    <% }); %>
    
                            </div>
    
                            <form>
                                <div class="form-group form-check text-center">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label ml-2" for="exampleCheck1" id="checkBoxCompleted">Mark as Complete</label>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
    
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header workspace-header-chat" style="text-decoration: none;">
                            <nav>
                                <div class="nav nav-tabs justify-content-around" id="nav-tab" role="tablist">
                                  <a class="nav-item nav-link active" id="nav-discussion-tab" data-toggle="tab" href="#nav-discussion" role="tab" aria-controls="nav-discussion" aria-selected="true">Discussion</a>
                                  <a class="nav-item nav-link" id="nav-jobfiles-tab" data-toggle="tab" href="#nav-jobfiles" role="tab" aria-controls="nav-jobfiles" aria-selected="false">Job Files</a>
                                  <a class="nav-item nav-link" id="nav-payment-tab" data-toggle="tab" href="#nav-payment" role="tab" aria-controls="nav-payment" aria-selected="false">Payment</a>
                                </div>
                              </nav>
                        </div>
    
                        <div class="card-body">
                           
                            <div class="tab-content" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="nav-discussion" role="tabpanel" aria-labelledby="nav-discussion-tab">
                                    <% include workspace-discussion.ejs%>
                                </div>
    
                                <div class="tab-pane fade" id="nav-jobfiles" role="tabpanel" aria-labelledby="nav-jobfiles-tab">
                                    <% include workspace-jobfiles.ejs%>
                                </div>

                                <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                                    <% include workspace-payment.ejs%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
            </div>
    
        </div>
    

    <%}%>

</div>



























<%include ../layout/footer-public.ejs %>