
<% include ../../layout/header-public.ejs %>
<% include ../../layout/menu-public.ejs %>
<% include ../../layout/menu-portal.ejs %>

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />

<style>
    #profile{
        display: block;
    }
    #profile_edit{
        display: none;
    }
    #edit-education{
        display: none;
    }
</style>


    

    <div class="container-fluid" style="margin-bottom: 80px;">


        <!-- HEADER SECTION GOES HERE -->

        <div class="row" >
                <div class="jumbotron jumbotron-fluid header-image-profile" style="background-image: url('/vendors/img/cover-photo.png'); background-size: cover;">
                    <div class="container-fluid">
                      <h1 class="display-4"></h1>
                      <p class="lead"></p>
                    </div>

                    <label class="div-pic">
                        <div class="" >
                            <img src='../../images/users/individual/<%=res_user.picture%>' class="profile-pic-jumb-client" alt="...">
                        </div>                        
                    </label>
                </div>
        </div>

        
        <div class="container-fluid">

            <div class="row main-profile-page">

                <div style="display: none;" id="fmClientUpdate">
                    <%include ../editing-forms/edit-profile.ejs%>
                </div>
               

                
                <div class="col-md-9 mb-4" id="profileToggleView">
                    <div class="card ">
                        <div class="card-body">
                            <div class="card-body">
                               
 
                                <div class="profile-details-arrange mt-5">

                                    

                                    <div class="row justify-content-between mt-5">
                                        <div>
                                            <h3 class="name mt-3" style="font-weight: 600;" id="view_name"><%=res_user.first_name%>  <%=res_user.last_name%></h3>
                                        </div>

                                        <div class="mt-3">
                                            <button class="btn edit-profile-button mb-4" id="editbuttonClient" >Edit Profile</button>
                                        </div>

                                        <div class="">
                                            <button class="btn edit-profile-button mb-4" id="editbutton" >Edit Profile</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <h3 class="name" style="font-weight: 600;" id="view_name_role">Client </h3>
                                        </div>
                                    </div>
    
                                    <div class="row mb-3">
                                        <div>
                                            <span style="color:#A41201; font-size: 15px;" id="view_coun_city"><i class="fa fa-map-marker mb-3" ></i>&nbsp;<%=res_user.city%>, <%=res_user.country%></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <h3 class="golden" style="font-weight: 400; font-size: 26px;" >Golden Paragraph</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <p class="golden-para" style="width: 80%;" id="view_para"><%=res_user.golden_paragraph%></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>

        </div>



    </div>




<% include ../../layout/footer-public.ejs %>




